@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/RedHatDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/RedHatDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/RedHatDisplay-SemiBold.ttf') format('truetype');
}

* {
  font-family: 'Red Hat Display', sans-serif;
  color: #242424;
}